.container {
    background-color: #EAF6F6;
    margin: 0;
}

h1 {
    color: #66BFBF;
    margin: 11px 0 0 0;
    font-family: 'Sacramento', serif;
    font-size: 4rem;
}
h2 {
    color: #66BFBF;
    margin: 0px;
    font-size: 1.5rem;
}
h3 {
    color: #11999E;
    font-size: 1.1rem;
}

hr {
    border: dotted #EAF6F6;
    border-width: 6px;
    width: 3rem;
    margin: 4rem auto;
    border-bottom: none;

}

p {
    color: #40514E;
    margin: 1rem;
    line-height: 2;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Playfair Display',serif;
}

a {
    color: #11999E;
    margin: 1rem;
    text-decoration: none;
}
a:hover {
    color: rgb(242, 242, 255);
    text-decoration: underline;
}

/*** Class selectors **/

.top-container {
    display:inline-block;
    width: 600px;
    height: 100vh;
    margin: auto;
    position: relative;
    padding-top: 50px;
    margin: 0;
}
.container {
    position: relative;
    margin: 0;
}

.top-cloud {
    position: absolute;
    right: 0px;
}

.top-text {
    margin-top: 69px;
    margin-bottom: 69px;
}

.bottom-cloud {
    position: absolute;
    left: 23px;
    bottom: 46vh;
}

.middle-container {
    margin: 2rem 0;
    overflow: visible;
    height: auto;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 1.5rem 0rem;
    margin-top: 1rem;
}

.mountain {
    position: absolute;
    right: 0px;
    bottom: 0vh;
}

.img_dp {
    margin: 20px;
    height: 169px;
    width: 169px;
    border-radius: 50%;
}

.intro {
    margin: 0px auto;
    width: 50%;
}

.img_skill {
    margin: 20px;
    height: 8em;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
    margin-bottom: 3rem;
}

.img_hehe {
    margin: 20px;
    height: 8em;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
    margin-bottom: 3rem;
}

.skill-row {
    width: 69%;
    margin: auto;
    margin-top: 23px;
}

.skill-row-2 {
    width: 69%;
    margin: auto;
    margin-top: 46px;
    margin-bottom: 23px;
    text-align: right;
}

.para-skill {
    text-align: left;
}

.h3-skill {
    text-align: left;
}

.para-get-in-touch {
    margin: 2rem auto;
    width: 69%;
}

.para-footer-cc {
    color: #EAF6F6;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }


  /* Skills Section  */

  .skills {
    background-color: #EAF6F6;

  }

  .skill-1-link {
    text-align: left;
  }